
.julios-section-title-container {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: 3rem;
    margin-right: auto;
    border-bottom: 1px solid rgb(39, 174, 95);    
}

.julios-section-title {
    margin-right: 1vw;
    border-bottom: 1px solid rgb(39, 174, 95);
    font-family: bahnschrift;
    font-size: 40px;    
}
